@font-face {
    font-family: "taken";
    src: url("/Users/jamessibbit/Library/fonts/Taken-by-Vultures.otf");
}

body{
  margin-top: 0.5rem;
  font-family: 'Righteous', cursive;
  background-image: url("../images/VastHillLogo Color.png");
  background-color: #9fdee0;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-attachment: fixed;
}

.topbarheader{
          animation-name: top-bar-slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes top-bar-slide {
  0% {-webkit-transform: translateY(-4rem);transform: translateY(-4rem);}
  100% {-webkit-transform: translateY(-0.5rem);transform: translateY(-0.5rem);}
}

@keyframes top-bar-slide {
  0% {-webkit-transform: translateY(-4rem);transform: translateY(-4rem);}
  100% {-webkit-transform: translateY(-0.5rem);transform: translateY(-0.5rem);}
}

.topbarlist{
  background-color: rgba(239,171,236,0.95);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 1.3rem;
}

.mainlistlogo{
  padding: 3px 1rem;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.topbarlist a{
  /* check this */
  width: 12%;
}
.mainlist{
  list-style: none;
  padding: 2px 0.3rem;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mainlistlogo:hover{
  color: royalblue;
  cursor: pointer;
}

.mainlist:hover{
  cursor: pointer;
  border: 0.01px solid royalblue;
  border-radius: 10px;
  background-color: royalblue;
}

a{
  text-decoration: none;
}

input[type="checkbox"]{
  display: none;
}

#flyinmenu{
  height: 95%;
  width: 95%;
  background-color: rgba(239,171,236);
  z-index: 1;
  position: fixed;
  top: 2.5%;
  left: -100rem;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px groove royalblue;
  border-radius: 10px;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem black;
          box-shadow: 0.5rem 0.5rem 0.8rem black;
}

input[type="checkbox"]:checked~#flyinmenu{
  left: 2.5%;
}

#close{
  position:absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#close:hover{
  cursor: pointer;
  color: royalblue;
}

#flyinnav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flyinopt{
  margin: 2rem 0;
  width: 100%;
  font-size: 3rem;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 1.5rem 4rem;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.flyinopt:hover{
  background-color: royalblue;
}

#mainpage{
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


#apollovid{
  width: 80%;
  height: 80%;
}

#gigs{
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.upcoming{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  width: 100%;
  margin: 1rem;
  font-size: 1.6rem;
}

.nc{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  margin: 1rem;
}

.nightcruise{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  padding: 1rem 1rem 4rem 1rem;
  margin-bottom: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nightcruiseimg{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.nightcruiseimg:hover{
  opacity:0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#about{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.band{
  padding: 5rem 0 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

.aboutanchor{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem 1rem 4rem 1rem;
}

.headerimage{
  width:100%;
  height:39.7%;
}

.headerimage:hover{
  opacity:0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#merch{
  height: 40vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mercharticle{
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.merchphoto{
  width: 33%;
  padding: 0.2rem;
}

.merchphotoinner{
  width: 100%;
}

.merchphotoinner:hover{
  opacity:0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#instafeed{
  padding: 0.4rem;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instaanchor{
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.instapictures:hover{
  opacity:0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#footer{
  margin: 3rem 0 0 0;
  bottom: 0;
  background-color: rgba(239,171,236,0.95);
  list-style: none;
  padding: 0;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: white;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerlist{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
}

.footerlistitem{
  margin: 0 0.5rem;
  font-size: 0.8rem;
  list-style: none;
  padding: 0.3rem 0.5rem;
  text-align: center;
  border: 1px white solid;
  border-radius: 4px;
}

.footerlistitem:hover{
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: royalblue;
}
